params {
    input="test.csv"
    sequence="example.fasta"
    outdir="output"
    b2b_exons=3
    b2b_coverage=0.85
    b2b_locus_size=4000
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite = true
}

dag {
  enabled = true
  file = "$params.outdir/dag.html"
  overwrite = true
  verbose = true
  depth = 1
}